<div class="cartel {{ expandido ? '': cartel-resumido}} col-xs-12 {{ expandido ? '' : 'col-md-3' }} {{ expandido ? '' : 'col-md-offset-1' }}">
	<div class="cartel-header col-xs-12" id="anuncio-{{$ctrl.anuncio.id}}">
		<div class="btn-group pull-right" role="group" aria-label="...">
			<a href="#" class="editar" data-toggle="modal"
				data-target="#modalCartel" data-text="{{$ctrl.anuncio.cuerpo}}"
				data-title="{{$ctrl.anuncio.titulo}}" data-modify="true"
				data-backdrop="static" ng-if="$ctrl.elim >= 0"> <span
				class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>
			<a href="#" class="eliminar" data-toggle="tooltip" title="Eliminar"
				ng-if="$ctrl.elim >= 0">
				<span class="glyphicon glyphicon-trash"
				aria-hidden="true"></span>
			</a>
		</div>
	</div>
	<div class="nota col-xs-12">
		<p class="text-center nota-titulo">{{$ctrl.anuncio.titulo}}</p>
		<p class="nota-texto">{{$ctrl.anuncio.cuerpo}}</p>
		<comentario comentario="{{$ctrl.anuncio.comentarios}}"></comentario>
	</div>
	<div class="cartel-footer col-xs-12" ng-switch="expandido">
		<a ng-switch-when="true" href="#" class="pull-right"
		ng-click="achicar()">Ver menos</a>
		<a ng-switch-default href="#" class="pull-right"
			ng-click="expandir()">Ver mas</a>
	</div>
</div>