<nav class="navbar navbar-default">
	<div class="navbar-header">
   		<a  ui-sref="home">
   			<img src="{{usuario.profilePic}}" class="img-responsive pull-left"
       			style="max-height:50px" alt="Imagen perfil usuario {{usuario.user}}"  >
   			<strong class="navbar-text">
				{{usuario.user}}
			</strong>
   		</a>
   	</div>
  	
	
	<user-notifications></user-notifications>
	
	<button ui-sref="misPublicaciones" class="btn btn-default navbar-btn">
		Mis Publicaciones
	</button>
	
	<button ui-sref="cartelera" class="btn btn-default navbar-btn">
		Carteleras
	</button>

	<a ui-sref="administrar" ng-if="administrar()" class="btn btn-default navbar-btn" 
		data-toggle="tooltip" data-placement="bottom" title="Requiere ser Administrador"> 
		Administrar 
	</a>
	
	<button class="btn btn-default navbar-btn pull-right" ng-click="logout()">
		Desloguear
	</button>
	
	<button ui-sref="configuracion" class="btn btn-default navbar-btn pull-right">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	</button>
</nav>