<nav class="navbar navbar-default">
	<a ng-click="publicaciones()"> 
		<strong class="navbar-text">
		{{usuario.user}}
		</strong>
		{{usuario.rol.nombre}}
	</a>
	<user-notifications></user-notifications>
	<button ng-click="misAnuncios()" class="btn btn-default navbar-btn">
		Mis Publicaciones
	</button>
	<button ng-click="publicaciones()" class="btn btn-default">
		Carteleras
	</button>

	<a ng-click="abmUsuario()" class="btn btn-default"
		data-toggle="tooltip" data-placement="bottom"
		title="Requiere ser Administrador"> Administrar </a>
	
	<button ng-click="configuracion()" class="btn btn-default">
		Configuracion
	</button>


	<button type="submit" class="btn btn-default navbar-btn pull-right" ng-click="logout()">Desloguear</button>

</nav>