<nav class="navbar navbar-default">
	<a href="index.html"> 
		<strong class="navbar-text">
		</strong>
	</a>
	<div class="btn-group navbar-btn">
		<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
			<span class="badge">4</span>
		</button>
		
		<ul class="dropdown-menu">
			<li><a href="#">Borrar Todo</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li><a href="#">Separated link</a></li>
		</ul>
	</div>
	<button class="btn btn-default navbar-btn">Mis
		Publicaciones</button>
	<button ng-click="publicaciones()" class="btn btn-default">
		Carteleras
	</button>

	<a ng-click="abmUsuario()" class="btn btn-default"
		data-toggle="tooltip" data-placement="bottom"
		title="Requiere ser Administrador"> Administrar </a>


	<button type="submit" class="btn btn-default navbar-btn pull-right" ng-click="logout()">Desloguear</button>

</nav>