	<form class="navbar-form navbar-left" role="search">
		<div class="form-group">
			<label for="usuario">usuario:</label> 
			<input input id="usuario" type="text" class="form-control" placeholder="Usuario" ng-model="form.user">
		</div>
		<div class="form-group">
			<label for="contrasena">contraseña:</label> 
			<input 	id="contrasena" type="password" class="form-control" placeholder="Contraseña" ng-model="form.password">
		</div>
		<button type="submit" class="btn btn-default" ng-click="loguear()">Submit</button>
	</form>