<div>
	<logoutnav ng-if="$ctrl.isLogged()"></logoutnav>
	<loginnav ng-if="$ctrl.isNotLogged()"></logoinnav>
</div>
<div>
	<notifications></notifications>
</div>
<div ng-switch="$ctrl.body()">
	<div ng-switch-when="abmUsuario"><user-list></user-list></div>
	<div ng-switch-when="carteleras"><list-cartelera></list-cartelera></div>
	<div ng-switch-when="configuracion"><user-config></user-config></div>
	<div ng-switch-when="misAnuncios"><mis-anuncios></mis-Anuncios></div>
	<div ng-switch-default><list-cartelera></list-cartelera><</div>
</div>