<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta author="yo">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="js/cartelerasinfo.js"></script>
	<script src="js/controllers/login.js"></script>
	<link rel="stylesheet" href="main.css">
	<title>Carteleras Info</title>
</head>
<body ng-app="cartelerasInfo">

    <div id="main" ng-controller="loginController as loginCtrl" ng-init="isUser = 'init'">
        <div id="nav" >
        	<loginnav ng-if="isUser == true"></loginnav>
     		<logoutnav ng-if="isUser == false || isUser == 'init'"></logoutnav>
         </div>
         <br>
         <div class="alert alert-danger" role="alert" ng-if="isUser == false">Usuario o contraseña incorrecto</div>
    </div>